@font-face{
	font-family: firasans-hvi;
	src: url(fonts/FiraSans-HeavyItalic.otf);
}
@font-face{
	font-family: firasans-li;
	src: url(fonts/FiraSans-Light.otf);
}

body{
	background-color: #0B3A72;
}
form{
	padding-bottom: 20px;
}
h1{
	color: white;
	font-family: firasans-li;
	text-align: center;
}
label{
	color: white;
	font-family: firasans-li;
}

nav ul{
	padding: 10px;
	background-color: white;
}
nav ul li a{
	color: black;
	font-weight: bold;
}
p{
	color: white;
}
.ingresar{
	background-color: white;
	color: black;
	font-family: firasans-hvi;
	font-size: 35px;
	text-align: center;
	padding: 20px;
}
.img-nav{
	height: 30px;
	margin-right: 5px;
}
.login{
	background-color: #052348;
	border-radius: 5px;
	margin: 0 auto;
	padding: 15px;	
}
.logo{
	padding: 15px;
	text-align: center;
}
.logo img{
	height: 150px;
	max-width: 100%;
	width: auto;
	text-align: center;
}