@font-face{
	font-family: firasans-hvi;
	src: url(fonts/FiraSans-HeavyItalic.otf);
}
@font-face{
	font-family: firasans-li;
	src: url(fonts/FiraSans-Light.otf);
}
body{
	background-color: #052348;
}
form{
	padding-bottom: 20px;
}
figure{
	text-align: center;
}
h1, h2, h3, h4, h5, h6{
	color: white;
	font-family: firasans-li;
	text-align: center;
}
label{
	color: white;
	font-family: firasans-li;
}

nav ul{
	padding: 10px;
	background-color: white;
	font-family: firasans-li;
	margin: 0 auto;
	width: 100%;
}
nav ul li{
	margin-right: 0;
	text-align: center;
	padding: 0;
	width: 33.333333333333%;	
}
nav ul li a{
	color: black;
	font-weight: bold;
	margin: 0 auto !important;
	padding: 0;
}
p{
	color: white;
}
.apostados{
	font-size: 20px !important; 
}
.btn2{
	margin-top: 20px;
}
.caret{
	color: #052348;
}
.chulo{
	height: 100px;
	max-width: 80%;
	margin-bottom: 30px;
	margin-top: 30px;
	width: auto;
}
.form{
	padding: 10px 0;
}
.ingresar{
	background-color: white;
	color: black;
	font-family: firasans-hvi;
	font-size: 35px;
	text-align: center;
	padding: 20px;
}
.img-nav{
	display: block;
	height: 25px;
	margin: 0 auto;
}
.login{
	background-color: #052348;
	border-radius: 5px;
	height: auto;	
	padding: 1px 10px 30px 10px;	
}
.login2{
	background-color: #052348;
	border-radius: 5px;
	height: auto;
	padding: 1px 10px 30px 10px;	
}
.logo{
	background-color: #0B3A72;
	padding: 15px;
	text-align: center;
}
.logo img{
	height: auto;
	max-width: 80%;
	width: auto;
	text-align: center;
}
.logo-recarga{
	height: auto;
	width: 80%:
	max-width: 80%;
}
.pie{
	font-size: 12px;
}
.saldo{
	color: yellow;
	font-family: firasans-hvi;
	text-align: center;
}
.ticket{
	background-color: white;
	border-radius: 2px;
	color: black;
	font-family: firasans-li;
	padding: 10px;
}
.ticket tr{
	border-bottom: 1px solid lightgray;
	line-height: 2em;
}

